<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"> Project Rails</a>
    created by <a href="https://https://github.com/vuxuanlam/RUBY-K57">Vu Xuan Lam</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>